
/* Here be the css code for the push n pull*/



/****************************************************** Hi Kruti. This is the 2nd set of instructions for the CSS

This file operates differently from a html file. 

***************************************************/



.catsInSpace img{
    width:7%;
    height:12%;
}
.ashText {
    padding: 50px;
    background-color: orange;
    color: white;
    font-size:40px;
    text-align: center;
}


/*
Hi Kruti. This is the css code that corresponds to the div class named 01
make sure with a class you use a .(period) before the div name.

then you can make some changes.

you can also change the colors of the text in all the headers, paragraphs etc. if you dont add a class it will change all the colors depending on the flow of this doc (I think?). With a class you can change all the groups at one. if you use an id instead you change just that one. All this probably doesnt make sense as it doesnt make sense to me.
Skip back to the HTML file to S3 :/
*/
._01{
    padding: 50px;
    background-color: orange;
}


/*Hello. Here is S4 of the 'tutorial'

Ok. First I make a block for my id div.
Should only affect the id with the same name
*/

#myIdTestDiv{
    text-align: center;
    background-color: lightblue;
    font-size: 50px;
   

}

/*
now I make a block for my class div.
Should only affect all classes with this name
*/

.myClassTestDiv{
    text-align: right;
    font-family: sans-serif;
    background-color: darkgreen;
    color: darkred;
    font-size: 100px;
}

.blueBox{
    padding: 10px;
    height: 100px;
    background-color: blue;
    
}

.pinkBox{
    padding: 10px;
    height: 100px;
    background-color: rgb(253, 2, 153);
    text-align: center;
    font-family: sans-serif;
    color: rgb(75, 0, 251);
    font-size: 50px;
}

#myPara{
    padding: 20px;
    background-color: lightgreen;
    text-align: center;
    font-size: 50px
}
