
// Here be the css code for the push n pull


.catsInSpace img{
    width:7%;
    height:12%;
}
.ashText {
    padding: 50px;
    background-color: orange;
    color: white;
    font-size:40px;
    text-align: center;
}

._01{
    padding: 50px;
    background-color: orange;
		     
}
